.gold-color{
color:#FFD700;
font-size:1em;
line-height:30px;
}
body{
font-family:sans-serif;
color:#777777;
line-height:26px;
}
.half-width{
width:50%;
float:left;
}
.side-img{
width:78%;
padding-left:10%;
height:200px;
padding-top:30px;

}
.primary-button{
color:white;
background-color:#FF4500;
border-radius:20px;
padding: 13px 42px 13px 42px;
text-decoration:none;
font-size:1.3em;
}
.primary-btn{
color:white;
background-color:#FF4500;
border-radius:20px;
padding:13px 68px 13px 5px;
text-decoration:none;
font-size:1.3em;
float:right;
}
h1{
font-size:2em;
}
.although{
float:left;
color:#00BFFF;
font-family:sans-serif;
}
.container{
padding-left:5%;
display:inline-block;
}
.experiences{
padding:30px;
margin:30px;
background-color:#B0E0E6;
border-radius:20px;
}
.experience-item{
padding:10px;;
border-left:1px solid rgba(137,130,247,.2);
}
.blue-color{
color:#0000CD;
}
.red-color{
color:#8B0000;
}
footer{
color:crimson;
}